Spider Docs - Server Application/SpiderDocsServer/Service References/WebReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Activation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkUpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadDone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downloadDoneResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ActivationSoapIn">
    <wsdl:part name="parameters" element="tns:Activation" />
  </wsdl:message>
  <wsdl:message name="ActivationSoapOut">
    <wsdl:part name="parameters" element="tns:ActivationResponse" />
  </wsdl:message>
  <wsdl:message name="checkUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:checkUpdate" />
  </wsdl:message>
  <wsdl:message name="checkUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:checkUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="downloadDoneSoapIn">
    <wsdl:part name="parameters" element="tns:downloadDone" />
  </wsdl:message>
  <wsdl:message name="downloadDoneSoapOut">
    <wsdl:part name="parameters" element="tns:downloadDoneResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Activation">
      <wsdl:input message="tns:ActivationSoapIn" />
      <wsdl:output message="tns:ActivationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkUpdate">
      <wsdl:input message="tns:checkUpdateSoapIn" />
      <wsdl:output message="tns:checkUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downloadDone">
      <wsdl:input message="tns:downloadDoneSoapIn" />
      <wsdl:output message="tns:downloadDoneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Activation">
      <soap:operation soapAction="http://tempuri.org/Activation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUpdate">
      <soap:operation soapAction="http://tempuri.org/checkUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDone">
      <soap:operation soapAction="http://tempuri.org/downloadDone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Activation">
      <soap12:operation soapAction="http://tempuri.org/Activation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUpdate">
      <soap12:operation soapAction="http://tempuri.org/checkUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadDone">
      <soap12:operation soapAction="http://tempuri.org/downloadDone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://spiderdocs.spiderdevelopments.com.au:5321/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://spiderdocs.spiderdevelopments.com.au:5321/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>